.profile-card-wrapper {
  align-items: center;
  display: flex;
  height: 450px;
  justify-content: center;
}

.button-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-evenly;
  width: 100%;
}

.button {
  height: 40px;
  width: 200px;
}
