.search-wrapper {
  align-items: center;
  background-color: #f2f4f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.label-search {
  padding: 5px;
  width: 100%;
}

.search {
  font-size: 18px;
  padding: 5px;
  width: 100%;
}

.radio-button-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 5px;
  width: 100%;
}

.radio-ingredients, .radio-name, .radio-first-letter {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.button-search {
  background-color: #49111c;
  border: 1px solid black;
  color: #f2f4f3;
  cursor: pointer;
  font-weight: 700;
  margin: 5px;
  outline: inherit;
  padding: 5px;
}

.button-search:active {
  background-color: #7e2335;
}
