.search-wrapper {
  align-items: center;
  background-color: #f2f4f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.label-search {
  padding: 5px;
  width: 100%;
}

.search {
  border: 1px solid black !important;
  border-radius: 10px;
  font-size: 18px;
  padding: 5px;
  width: 100%;
}

.radio-button-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 5px;
  width: 100%;
}

.radio-ingredients input, .radio-name input, .radio-first-letter input {
  margin: 5px;
}


.radio-ingredients, .radio-name, .radio-first-letter {
  align-items: center;
  color: var(--main);
  display: flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: space-between;
  margin: 10px;
}

.button-search {
  background-color: var(--second);
  border: 1px solid black;
  color: var(--main);
  cursor: pointer;
  font-weight: 700;
  margin-bottom: 15px;
  outline: inherit;
  padding: 10px;
  width: 200px;
}

.button-search:active {
  background-color: #7e2335;
}
